$corner-radius: 4px;
$space: 16px;

$color-yellow: #ffe600;
$color-gray-3: #333;
$color-gray-6: #666;
$color-gray-9: #999;
$color-gray-e: #eee;
$color-blue: #3483fa;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
